.visible {
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}
.add-bar {
  background-color: #FFFFFF;
}
.add-bar Image {
  max-height: 50;
  vertical-align: center;
  margin-left: 10;
}
TextField, MaskedTextField  {
  color: #000000;
  margin: 10 5;
  font-size: 18;
}
Button {
    margin: 10 5;
}
GridLayout.outer {
  padding-top: 10;
  margin-left: 20;
  margin-right: 20;
  background-color: white;
}