<ActionBar title="Add New Panel"></ActionBar>
<ScrollView>
    <GridLayout class="outer" rows="auto, *">
        <GridLayout row="0" columns="*, auto" class="add-bar">
            <MaskedTextField #macaddress mask="AA:AA:AA:AA" [(ngModel)]="panelMac"></MaskedTextField>
            <Image src="res://barcode" col="1" (tap)="scanBarcode()"></Image>
        </GridLayout>
        <StackLayout row="1">
            <TextField hint="Password" [(ngModel)]="panelName"></TextField>
            <TextField hint="Remote Access Password" [(ngModel)]="panelRemoteAccessPassword"></TextField>
            <TextField hint="User Code" [(ngModel)]="panelUserCode"></TextField>
            <TextField hint="Location" [(ngModel)]="myLocation"></TextField>
            <TextField hint="Push Token" [(ngModel)]="pushToken"></TextField>
            <TextField [ngModel]="pushData" (ngModelChange)="pushData = $event"></TextField>



            <Button text="Add panel" class="submit-button" (tap)="save()"></Button>
            <Button text="Get Location" class="submit-button" (tap)="getCurrentLocation()"></Button>
            <Button text="Watch Location" class="submit-button" (tap)="watchLocation()"></Button>
            <Button text="Add Push Notifications" class="submit-button" (tap)="addPushNotifications()"></Button>
        </StackLayout>
    </GridLayout>
</ScrollView>