<ActionBar title="{{title}}">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBackBtnTap()"></NavigationButton>
    <ActionItem ios.systemIcon="3" android.systemIcon="ic_menu_save" ios.position="right" (tap)="save()"></ActionItem>
</ActionBar>
<ScrollView verticalAlignment="center">
    <GridLayout rows="auto, *">
        <StackLayout row="1" [visibility]="!routerService.isLoading ? 'visible' : 'collapse'">
                <GridLayout tkExampleTitle tkToggleNavButton rows="auto, *">
                    <RadDataForm [source]="panelArea">
                        <TKEntityProperty tkDataFormProperty name="id" hidden="true"></TKEntityProperty>
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Area Main" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="area_name" hintText="Name" displayName="">
                                <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Settings" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="code_required_to_bypass_zones" displayName="Code required to bypass zones">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="code_required_to_set" displayName="Code required to arm">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="arm_command_required_before_code_to_set" displayName="Arm command before code to arm">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="stay_command_required_before_code_to_set_stay_mode" displayName="Stay command before code to stay">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_arm_on_exit_delay" displayName="Report arm at the end of exit delay">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="use_near_and_verified_alarm_reporting_for_all_zones" displayName="Use near and verified alarm report">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="unable_to_arm_if_exit_zone_is_open" displayName="Fail to arm if exit zone still open">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Timers And Delays" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="exit_delay_time" hintText="Area exit delay time (sec)" displayName="">
                                <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="stay_exit_delay_time" hintText="Area exit stay delay time (sec)" displayName="">
                                <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="delinquency_delay" hintText="Area delinquency delay time (days)" displayName="">
                                <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="area_inactive_time" hintText="Area inactive time (sec)" displayName="">
                                <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </GridLayout>
                <StackLayout>
                    <RadDataForm [source]="areaZones">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Zone Assignment" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let zoneId of keys(areaZones)" tkPropertyGroupProperties [name]="zoneId" [displayName]="panelConfigArea.area_zones[zoneId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="areaUsers">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="User Assignment" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let userId of keys(areaUsers)" tkPropertyGroupProperties [name]="userId" [displayName]="panelConfigArea.area_users[userId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="armIndicationToOutput">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Arm Area Indication To Outputs" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(armIndicationToOutput)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigArea.arm_indication_to_output[outputId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="stayArmIndicationToOutput">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Stay Arm Area Indication To Outputs" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(stayArmIndicationToOutput)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigArea.stay_arm_indication_to_output[outputId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="disarmIndicationToOutput">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Disarm Area Indication To Outputs" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(disarmIndicationToOutput)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigArea.disarm_indication_to_output[outputId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="armedExitDelayBeepsToOutput">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Area Armed Exit Delay Beeps Outputs" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(armedExitDelayBeepsToOutput)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigArea.armed_exit_delay_beeps_to_output[outputId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="stayExitDelayBeepsToOutput">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Area Stay Exit Delay Beeps Outputs" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(stayExitDelayBeepsToOutput)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigArea.stay_exit_delay_beeps_to_output[outputId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="stayArmBeepsToOutput">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Stay Arm Area Pulse To Outputs" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(stayArmBeepsToOutput)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigArea.stay_arm_beeps_to_output[outputId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="pendantTagArmBeepToOutput">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Pendant Arm Beep To Outputs" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(pendantTagArmBeepToOutput)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigArea.pendant_tag_arm_beep_to_output[outputId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="pendantTagDisarmBeepToOutput">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Pendant Disarm Beep To Outputs" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(pendantTagDisarmBeepToOutput)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigArea.pendant_tag_disarm_beep_to_output[outputId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="pendantTagStayArmBeepToOutput">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Pendant Stay Arm Beep To Outputs" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(pendantTagStayArmBeepToOutput)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigArea.pendant_tag_stay_arm_beep_to_output[outputId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="pendantTagStayDisarmBeepToOutput">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Pendant Stay Disarm Beep To Outputs" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(pendantTagStayDisarmBeepToOutput)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigArea.pendant_tag_stay_disarm_beep_to_output[outputId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="armBeepsToOutput">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Arm Area Pulse To Outputs" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(armBeepsToOutput)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigArea.arm_beeps_to_output[outputId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="disarmBeepsToOutput">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Disarm Area Pulse To Outputs" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(disarmBeepsToOutput)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigArea.disarm_beeps_to_output[outputId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="stayDisarmBeepsToOutput">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Stay Disarm Area Pulse To Outputs" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(stayDisarmBeepsToOutput)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigArea.stay_disarm_beeps_to_output[outputId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="pulseOutputEvery5SecWhenDisarmed">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Pulse Outputs Every 5 Sec At Area Disarm" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(pulseOutputEvery5SecWhenDisarmed)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigArea.pulse_output_every_5_sec_when_disarmed[outputId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
        </StackLayout>
        <ActivityIndicator [busy]="routerService.isLoading" [visibility]="routerService.isLoading ? 'visible' : 'collapse'" row="1"
                   horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
    </GridLayout>
</ScrollView>