<ActionBar title="{{title}}">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBackBtnTap()"></NavigationButton>
</ActionBar>
<GridLayout rows="auto, *">
    <ListView [items]="keypads" row="1" [visibility]="!routerService.isLoading ? 'visible' : 'collapse'">
        <ng-template let-item="item">
            <Label [text]="'id ' + increaseIndex(item.id) + ': serial number ' + item.keypads_list" class="list-item"
                   (tap)="editKeypad(item.id)"></Label>
        </ng-template>
    </ListView>
    <Button [visibility]="!routerService.isLoading ? 'visible' : 'collapse'" row="1"
            class="fab-button-simple" (tap)="editKeypad(-1)"></Button>
    <ActivityIndicator [busy]="routerService.isLoading" [visibility]="routerService.isLoading ? 'visible' : 'collapse'" row="1"
           horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
</GridLayout>