<ActionBar title="{{title}}">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBackBtnTap()"></NavigationButton>
    <ActionItem ios.systemIcon="3" android.systemIcon="ic_menu_save" ios.position="right" (tap)="save()"></ActionItem>
</ActionBar>
<ScrollView *ngIf="!routerService.isLoading">
    <GridLayout rows="auto, *">
        <StackLayout row="1">
            <GridLayout tkExampleTitle tkToggleNavButton rows="auto, *">
                <RadDataForm [source]="reportChannelForDataForm" (propertyCommitted)="dfPropertyCommitted($event)">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Channel Type" collapsed="true">
                        <TKEntityProperty tkDataFormProperty name="id" hidden="true"></TKEntityProperty>
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty *ngIf="isEditableChannelType()" imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="alt_flags_channel_type" displayName="Channel Type" [converter]="reportChannelTypeConverter" [valuesProvider]="reportChannelTypeNames">
                            <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty *ngIf="!isEditableChannelType()" imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="alt_flags_channel_type" hintText="Channel Type" displayName="" [converter]="reportChannelTypeConverter" [valuesProvider]="reportChannelTypeNames">
                            <TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Settings" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="active_channel" displayName="Is Active Channel">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="phone_number_or_server_address" hintText="Destination Address" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_protocol_type" displayName="Protocol" [converter]="reportProtocolTypeConverter" [valuesProvider]="reportProtocolTypeNames">
                            <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_protocol_port" hintText="Port" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="failed_channel_restore_time" hintText="Failed channel restore time (sec)" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Reporting Options" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_video_event" displayName="Video Event Report">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_mains_failure" displayName="Report Mains Failure">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_system_battery_low" displayName="Report Battery Low">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_communication_fail" displayName="Report Communication Fail">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_system_tamper" displayName="Report System Tamper">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_zone_tamper" displayName="Report Zone Tamper">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_duress_alarm" displayName="Report Duress Alarm">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_panic_alarm" displayName="Report Panic Alarm">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_manual_fire_alarm" displayName="Report Manual Fire Alarm">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_manual_medical_alarm" displayName="Report Manual Medical Alarm">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_zone_bypasses" displayName="Report Zone Bypasses">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_arm_disarm" displayName="Report Arm-Disarm">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_stay_mode_arm_disarm" displayName="Report Stay Mode Arm-Disarm">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_disarm_only_after_an_activation" displayName="Report Disarm Only After Activation">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_stay_mode_disarm_only_after_an_activation" displayName="Report Stay Disarm Only After Activation">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_access_to_program_mode" displayName="Report Access To Program Mode">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_zone_restores" displayName="Report Zone Restores">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_delinquent" displayName="Report Delinquent">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_fuse_failure" displayName="Report Fuse Failure">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_radio_battery_low" displayName="Report Radio Battery Low">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_supervised_radio_alarm" displayName="Report Supervized Radio Alarm">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_zone_sensor_watch_alarm" displayName="Report Zone Sensor-Watch Alarm">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_latchkey_disarm" displayName="Report Latchkey Disarm">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_comm_interference_detected" displayName="Report Communication Interference Detected">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_output_fail" displayName="Report Output Fail">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_test_connections" displayName="Report Tests">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_stay_mode_zone_alarms" displayName="Report Stay Mode Zone Alarms">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_output_changed" displayName="Report Output Changed">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_peripheral_tamper" displayName="Report Peripheral Tamper">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="report_zone_confirmed_alarm" displayName="Report Zone Confirmed Alarms">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </GridLayout>
            <StackLayout>
                <RadDataForm #backupChannelsForm [source]="channel_backup" *ngIf="isEditableChannelType()">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Is Backup For Next Channels" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty [readOnly]="reportChannelForDataForm.active_channel" imageResource="res://ic_dataform_cogs" *ngFor="let channelId of keys(channel_backup)" tkPropertyGroupProperties [name]="channelId" [displayName]="configReportChannel.channel_backup[channelId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <StackLayout>
                <RadDataForm [source]="account_number">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Area account numbers" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let areaId of keys(account_number)" tkPropertyGroupProperties [name]="areaId" [displayName]="configReportChannel.account_number[areaId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
        </StackLayout>
    </GridLayout>
</ScrollView>
<ScrollView verticalAlignment="center" *ngIf="routerService.isLoading">
    <GridLayout rows="auto, *">
        <ActivityIndicator [busy]="routerService.isLoading" row="1"
               horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
    </GridLayout>
</ScrollView>