@import url("~/platform.css");
Page {
  background-color: white;
}
ActionBar {
  background-color: #2a2d35;
  color: #ffffff;
}
.visible {
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}
.add-bar {
  background-color: #CB1D00;
  padding: 5 10;
}
.add-bar Image {
  height: 15;
  vertical-align: center;
  margin-left: 10;
  margin-right: 5;
}
.list-item {
  padding: 16;
  font-size: 16;
}
Label {
  font-size: 16;
  vertical-align: center;
}
.medium-spacing {
  margin: 10 5;
}
.simple-input {
  padding: 10 15;
}
.arrow {
  font-family: 'FontAwesome';
  text-align: right;
}
.animated {
  opacity: 0;
}
.submit-button {
  background-color: #CB1D00;
  color: white;
  margin-top: 20;
}
.fab-button {
    height: 70;
    width: 70; /* this is required on iOS - Android does not require width so you might need to adjust styles */
    margin: 15;
    background-color: #CB1D00;
    horizontal-align: right;
    vertical-align: bottom;
}
.fab-button-simple {
    height: 70;
    width: 70;
    margin: 15;
    border-radius: 35;
    background-image: url("res://ic_add_white");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #CB1D00;
    horizontal-align: right;
    vertical-align: bottom;
}

.header {
  margin: 10 0 10 16;
  font-size: 26;
  font-weight: bold;
}
.sub-header {
  margin: 10 0 10 16;
  font-size: 20;
  font-weight: bold;
}