<ActionBar [title]="'LIST.TITLE' | translate">
    <NavigationButton [text]="'COMMON.GO_BACK' | translate" android.systemIcon="ic_menu_back" (tap)="onNavBackBtnTap()"></NavigationButton>
    <SearchBar [hint]="'LIST.SEARCH_PANEL' | translate" (clear)="onClear($event)" (submit)="onSubmit($event)"
           color="#2f4f4f" textFieldBackgroundColor="white" textFieldHintColor="#2f4f4f"></SearchBar>
</ActionBar>
<GridLayout rows="auto, *">
    <ListView [items]="panelList" row="1" [visibility]="!routerService.isLoading ? 'visible' : 'collapse'"
              (loadMoreItems)="nextPage && loadMoreItems()">
        <ng-template let-item="item">
            <GridLayout columns="*, auto">
                <StackLayout col="0" row="0" class="list-item" (tap)="panelDetail(item.id)">
                    <Label [visibility]="(isVisibleField(item, 'names') || isVisibleField(item, 'name')) ? 'visible' : 'collapse'"
                           [text]="'LIST.NAME' | translate:{value:(item.names.length ? item.names : item.name)}"></Label>
                    <Label [visibility]="isVisibleField(item, 'subNames') ? 'visible' : 'collapse'"
                           [text]="'LIST.MORE_NAMES' | translate:{value:item.subNames}" class="small"></Label>
                    <Label [visibility]="isVisibleField(item, 'mac') ? 'visible' : 'collapse'" [text]="'LIST.MAC_ADDRESS' | translate:{value:item.mac}"
                           class="small" [style.textAlignment]="getAlignment()"></Label>
                    <Label [visibility]="isVisibleField(item, 'version') ? 'visible' : 'collapse'" [text]="'LIST.VERSION' | translate:{value:item.version}"
                           class="small"></Label>
                    <Label [text]="'LIST.STATE' | translate:{value:item.state}" class="small"
                           [style.color]="item.state == 'ONLINE'? 'green' : 'red'"></Label>
                    <Label class="small" [text]="'LIST.ID' | translate:{value:item.id}" [style.textAlignment]="getAlignment()"></Label>
                </StackLayout>
            </GridLayout>
        </ng-template>
    </ListView>
    <Button row="1" *ngIf="false && !showFBA" class="fab-button-simple" (tap)="addPanel()"></Button>
    <ActivityIndicator [busy]="routerService.isLoading" [visibility]="routerService.isLoading ? 'visible' : 'collapse'" row="1"
                       horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
</GridLayout>