<ActionBar title="{{title}}">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBackBtnTap()"></NavigationButton>
    <ActionItem ios.systemIcon="3" android.systemIcon="ic_menu_save" ios.position="right" (tap)="save()"></ActionItem>
</ActionBar>
<ScrollView *ngIf="!routerService.isLoading">
    <GridLayout rows="auto, *">
        <StackLayout row="1" [visibility]="!routerService.isLoading ? 'visible' : 'collapse'">
            <Label text="Advanced Configuration" className="header"></Label>
            <Label text="Serial Number And Settings" className="sub-header"></Label>
            <GridLayout tkExampleTitle tkToggleNavButton rows="auto, *">
                <RadDataForm #keypadMainPropertiesForm [source]="keypadMainProperties" commitMode="Manual">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Serial number" collapsed="true">
                    <TKDataFormGridLayout tkPropertyGroupLayout></TKDataFormGridLayout>
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty index="0" imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="keypads_list" displayName="Serial number">
                            <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty index="1" imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="buttonBarcode" displayName="Or scan barcode on the keypad">
                            <TKCustomPropertyEditor tkEntityPropertyEditor (editorNeedsView)="editorNeedsView($event)" (editorHasToApplyValue)="editorHasToApplyValue($event)"
                                (editorNeedsValue)="editorNeedsValue($event)"></TKCustomPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </GridLayout>
            <StackLayout>
                <RadDataForm [source]="settings">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Settings" collapsed="true">
                        <TKEntityProperty tkDataFormProperty name="id" hidden="true"></TKEntityProperty>
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="beeps_enabled" displayName="Enable beeps">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="no_keypad_indications_when_armed" displayName="No armed indication">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <Label text="Area And User Assignments" className="sub-header"></Label>
            <StackLayout>
                <RadDataForm [source]="keypad_assigned_to_area">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Keypad Assigned To Areas" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let areaId of keys(keypad_assigned_to_area)" tkPropertyGroupProperties [name]="areaId" [displayName]="configKeypad.keypad_assigned_to_area[areaId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <StackLayout>
                <RadDataForm [source]="user_can_operate_at_keypad">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Keypad Control On Users" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let userId of keys(user_can_operate_at_keypad)" tkPropertyGroupProperties [name]="userId" [displayName]="configKeypad.user_can_operate_at_keypad[userId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <Label text="Alarm To Output" className="sub-header"></Label>
            <StackLayout>
                <RadDataForm [source]="keypad_medical_alarm_to_output">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Keypad Medical Alarm To Outputs" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(keypad_medical_alarm_to_output)" tkPropertyGroupProperties [name]="outputId" [displayName]="configKeypad.keypad_medical_alarm_to_output[outputId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <StackLayout>
                <RadDataForm [source]="keypad_panic_alarm_to_output">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Keypad Panic Alarm To Outputs" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(keypad_panic_alarm_to_output)" tkPropertyGroupProperties [name]="outputId" [displayName]="configKeypad.keypad_panic_alarm_to_output[outputId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <StackLayout>
                <RadDataForm [source]="keypad_fire_alarm_to_output">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Keypad Fire Alarm To Outputs" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(keypad_fire_alarm_to_output)" tkPropertyGroupProperties [name]="outputId" [displayName]="configKeypad.keypad_fire_alarm_to_output[outputId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
        </StackLayout>
    </GridLayout>
</ScrollView>
<ScrollView verticalAlignment="center" *ngIf="routerService.isLoading">
    <GridLayout rows="auto, *">
        <ActivityIndicator [busy]="routerService.isLoading" row="1"
               horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
    </GridLayout>
</ScrollView>