.group-settings {
  border-color: #d7d7d7;
  border-width: 0 0 1 0;
}
.group-settings.first-child {
  border-width: 1 0 1 0;
}
.group-settings-header {
  font-family: 'FontAwesome';
  padding: 16;
  color: #4285f4;
}
.group-settings-body {
  border-color: #e1e1e1;
  border-width: 0 0 0 2;
  margin: 0 0 10 40;
}
.group-settings-body > GridLayout {
  border-color: #f1f1f1;
  border-width: 0 0 1 0;
}
ListView {
  opacity: 1;
}