<ActionBar title="{{title}}">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBackBtnTap()"></NavigationButton>
    <ActionItem ios.systemIcon="3" android.systemIcon="ic_menu_save" ios.position="right" (tap)="save()"></ActionItem>
</ActionBar>
<ScrollView *ngIf="!routerService.isLoading">
    <GridLayout rows="auto, *">
        <StackLayout row="1">
            <Label text="Clock And Timers" className="sub-header"></Label>
            <StackLayout>
                <RadDataForm [source]="systemdatetime">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="System Date & Time" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty tkPropertyGroupProperties imageResource="res://ic_dataform_cogs" name="Daylight_Saving" displayName="Daylight Saving">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty tkPropertyGroupProperties imageResource="res://ic_dataform_cogs" name="gmt" hintText="" displayName="GMT">
                            <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty tkPropertyGroupProperties imageResource="res://ic_dataform_cogs" name="alt_flags_date_format" hintText="" displayName="Date Format" [converter]="dateFormatConverter" [valuesProvider]="dateFormatNames">
                            <TKPropertyEditor tkEntityPropertyEditor type="Picker">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <StackLayout>
                <RadDataForm [source]="timers">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Timers" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="radio_zone_supervised_time" hintText="" displayName="Radio Zone Supervised Timer">
                            <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="two_trigger_time" hintText="" displayName="Two Trigger Time">
                            <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <StackLayout>
                <RadDataForm [source]="delays">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Delays" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="alarm_reporting_delay" hintText="" displayName="Alarm Reporting Delay">
                            <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="mains_fail_reporting_delay" hintText="" displayName="Mains Fail Reporting Delay">
                            <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="communication_fail_reporting_delay" hintText="" displayName="Communication Fail Reporting Delay">
                            <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <Label text="Panel Options And User Options" className="sub-header"></Label>
            <GridLayout tkExampleTitle tkToggleNavButton rows="auto, *">
                <RadDataForm [source]="miscellaneousDataForm">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Panel Options" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="installer_code" hintText="" displayName="Installer Code">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="duress_digit" hintText="" displayName="Duress Digit">
                            <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="Disable_mains_fail_test" displayName="Disable Mains Fail Test">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="Installer_Lockout" displayName="Installer Lockout">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="buzzer_reset_time" hintText="" displayName="Buzzer Reset Time">
                            <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="Config_mode_resets_confirmed_alarms" displayName="Config Mode Resets Confirmed Alarms">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="Config_mode_resets_tamper_alarms" displayName="Config Mode Resets Tamper Alarms">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="Config_mode_resets_low_battery_alarms" displayName="Config Mode Resets Low Battery Alarms">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="Config_mode_resets_superviz_alarms" displayName="Config Mode Resets Supervision Alarms">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="Cannot_arm_if_the_system_battery_is_low_or_AC_Fail" displayName="Cannot Arm For Low Battery or AC Aail">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="Cannot_arm_when_communication_fault" displayName="Cannot Arm When Communication Fault">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="Limit_user_code_length" displayName="User Code Must Be 4-8 Digits Long">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="Enable_Outputs_Tamper" displayName="Enable Output Tamper">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="max_report_count" hintText="" displayName="Max Report Count">
                            <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="panel_title" hintText="" displayName="Panel Title">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="EN_Compliance" displayName="EN Compliance">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="license_time" displayName="License Time">
                            <TKPropertyEditor tkEntityPropertyEditor type="DatePicker">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="User Options" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="Code_Required_to_View_Memory" displayName="Code Required To View Memory">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="Cancel_Handover_Zone_Function_in_Stay_Mode" displayName="Cancel Handover Zone Function In Stay Mode">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </GridLayout>
        </StackLayout>
    </GridLayout>
</ScrollView>
<ScrollView verticalAlignment="center" *ngIf="routerService.isLoading">
    <GridLayout rows="auto, *">
        <ActivityIndicator [busy]="routerService.isLoading" row="1"
               horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
    </GridLayout>
</ScrollView>