<ActionBar title="{{title}}">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBackBtnTap()"></NavigationButton>
</ActionBar>
<GridLayout rows="auto, *">
    <ListView [items]="areas" row="1" [visibility]="!routerService.isLoading ? 'visible' : 'collapse'">
        <ng-template let-item="item">
            <Label [text]="increaseIndex(item.id) + ': ' + item.area_name" class="list-item" (tap)="editArea(item.id)"></Label>
        </ng-template>
    </ListView>
    <ActivityIndicator [busy]="routerService.isLoading" [visibility]="routerService.isLoading ? 'visible' : 'collapse'" row="1"
           horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
</GridLayout>