<ActionBar title="{{title}}">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBackBtnTap()"></NavigationButton>
</ActionBar>
<GridLayout rows="auto, *">
  <ListView [items]="users" row="1" [visibility]="!routerService.isLoading ? 'visible' : 'collapse'">
    <ng-template let-item="item">
      <Label [text]="increaseIndex(item.id) + ': ' + item.user_name" class="list-item" (tap)="editUser(item.id)"></Label>
    </ng-template>
  </ListView>
  <Button row="1" *ngIf="showAddUserButton()" class="fab-button-simple" (tap)="editUser()"></Button>
    <ActivityIndicator [busy]="routerService.isLoading" [visibility]="routerService.isLoading ? 'visible' : 'collapse'" row="1"
               horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
</GridLayout>