<ActionBar title="{{title}}">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBackBtnTap()"></NavigationButton>
    <ActionItem ios.systemIcon="3" android.systemIcon="ic_menu_save" ios.position="right" (tap)="save()"></ActionItem>
</ActionBar>
<ScrollView verticalAlignment="center">
    <GridLayout rows="auto, *">
        <StackLayout row="1" [visibility]="!routerService.isLoading ? 'visible' : 'collapse'">
                <GridLayout tkExampleTitle tkToggleNavButton rows="auto, *">
                    <RadDataForm #zoneMainPropertiesForm [source]="zoneMainProperties" commitMode="Manual">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Zone Main">
                            <TKDataFormGridLayout tkPropertyGroupLayout></TKDataFormGridLayout>
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                             <TKDataFormGridLayout tkPropertyGroupLayout></TKDataFormGridLayout>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" index="0" tkPropertyGroupProperties name="zone_name" hintText="Name" displayName="">
                                <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" index="1" tkPropertyGroupProperties name="radio_zones_list" hintText="Input zone's serial number" displayName="">
                                <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty index="2" tkPropertyGroupProperties name="buttonBarcode" displayName="">
                                <TKCustomPropertyEditor tkEntityPropertyEditor (editorNeedsView)="editorNeedsView($event)" (editorHasToApplyValue)="editorHasToApplyValue($event)"
                                    (editorNeedsValue)="editorNeedsValue($event)"></TKCustomPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </GridLayout>
                <StackLayout>
                    <RadDataForm [source]="panelZone">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Zone Status" collapsed="true">
                            <TKEntityProperty tkDataFormProperty name="id" hidden="true"></TKEntityProperty>
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="zone_is_active" displayName="Is Active">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="stay_mode_zone" displayName="Stay Mode Zone">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="two_trigger_zone" displayName="Is Two Trigger">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="exit_delay_zone" displayName="Exit Delay Zone">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="low_security_zone" displayName="Can Arm If Zone Is Not Ready">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="handover_zone" displayName="Handhover Zone">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="manually_bypassed_zone" displayName="Manually Bypassed Zone">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="auto_bypassed_zone" displayName="Auto Bypassed zone">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Working Mode" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="alt_flags_working_mode" displayName="Working Mode" [converter]="workingModeConverter" [valuesProvider]="workingModeNames">
                                <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Zone Options" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="zone_will_not_report_24_hour_alarm" displayName="Zone Will Not Report 24h Alarm">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="zone_in_bypass_group" displayName="Zone Is In Bypass Group">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="zone_sends_reports" displayName="Zone Sends Reports">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="zone_is_on_soak_test" displayName="Zone Is On Soak test">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="exit_terminator_zone" displayName="Exit Terminator Zone">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Delays And Timers" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                             <TKDataFormGridLayout tkPropertyGroupLayout></TKDataFormGridLayout>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="armed_zone_entry_delay_time" hintText="Armed Zone Entry Delay Time (Sec)" displayName="">
                                <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="stay_mode_entry_delay_time" hintText="Stay Mode Zone Entry Delay Time (Sec)" displayName="">
                                <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="sensor_inactivity_time" hintText="Zone Sensor-Watch Time (Sec)" displayName="">
                                <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Re-Trigger" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                             <TKDataFormGridLayout tkPropertyGroupLayout></TKDataFormGridLayout>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="zone_re_trigger_count" hintText="Zone Re-Trigger Count" displayName="">
                                <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="zone_assigned_to_area">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Area Assignment" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let areaId of keys(zone_assigned_to_area)" tkPropertyGroupProperties [name]="areaId" [displayName]="panelConfigZone.zone_assigned_to_area[areaId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="zone_alarm_assigned_to_output">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Zone Alarm To Outputs" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(zone_alarm_assigned_to_output)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigZone.zone_alarm_assigned_to_output[outputId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="zone_stay_alarm_assigned_to_output">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Zone Stay Alarm To Outputs" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(zone_stay_alarm_assigned_to_output)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigZone.zone_stay_alarm_assigned_to_output[outputId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="zone_24_hour_alarm_assigned_to_output">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Zone 24H Alarm To Outputs" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(zone_24_hour_alarm_assigned_to_output)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigZone.zone_24_hour_alarm_assigned_to_output[outputId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="zone_tamper_assigned_to_output">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Zone Tamper To Outputs" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(zone_tamper_assigned_to_output)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigZone.zone_tamper_assigned_to_output[outputId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="chime_zone_alarm_assigned_to_output">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Chime Zone Alarm To Outputs" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(chime_zone_alarm_assigned_to_output)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigZone.chime_zone_alarm_assigned_to_output[outputId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="armed_zone_entry_delay_assigned_to_output">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Armed Zone Entry Delay To Outputs" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(armed_zone_entry_delay_assigned_to_output)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigZone.armed_zone_entry_delay_assigned_to_output[outputId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="stay_mode_entry_delay_assigned_to_output">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Zone Stay Entry Delay To Outputs" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(stay_mode_entry_delay_assigned_to_output)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigZone.stay_mode_entry_delay_assigned_to_output[outputId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="zone_near_alarm_assigned_to_output">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Zone Near Alarm To Outputs" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(zone_near_alarm_assigned_to_output)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigZone.zone_near_alarm_assigned_to_output[outputId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
                <StackLayout>
                    <RadDataForm [source]="zone_verified_alarm_assigned_to_output">
                        <TKPropertyGroup tkDataFormGroups collapsible="true" name="Zone Verified Alarm To Outputs" collapsed="true">
                            <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(zone_verified_alarm_assigned_to_output)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigZone.zone_verified_alarm_assigned_to_output[outputId]['name']">
                                <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </TKPropertyGroup>
                    </RadDataForm>
                </StackLayout>
        </StackLayout>
        <ActivityIndicator [busy]="routerService.isLoading" [visibility]="routerService.isLoading ? 'visible' : 'collapse'" row="1"
                   horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
    </GridLayout>
</ScrollView>