<ActionBar title="{{title}}">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBackBtnTap()"></NavigationButton>
    <ActionItem ios.systemIcon="3" android.systemIcon="ic_menu_save" ios.position="right" (tap)="save()"></ActionItem>
</ActionBar>
<ScrollView *ngIf="!routerService.isLoading">
    <GridLayout rows="auto, *">
        <StackLayout row="1" [visibility]="!routerService.isLoading ? 'visible' : 'collapse'">
            <Label text="Advanced Configuration" className="header"></Label>
            <GridLayout tkExampleTitle tkToggleNavButton rows="auto, *">
                <RadDataForm #outputMainPropertiesForm [source]="outputMainProperties" commitMode="Manual">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Name and Serial" collapsed="true">
                    <TKDataFormGridLayout tkPropertyGroupLayout></TKDataFormGridLayout>
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty index="0" imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="output_name" hintText="Name" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty index="1" imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="radio_outputs_list" hintText="Serial Number" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty index="2" imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="buttonBarcode" displayName="Or scan barcode on the output">
                            <TKCustomPropertyEditor tkEntityPropertyEditor (editorNeedsView)="editorNeedsView($event)" (editorHasToApplyValue)="editorHasToApplyValue($event)"
                                (editorNeedsValue)="editorNeedsValue($event)"></TKCustomPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </GridLayout>
            <StackLayout>
                <RadDataForm [source]="panelOutput">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Settings" collapsed="true">
                        <TKEntityProperty tkDataFormProperty name="id" hidden="true"></TKEntityProperty>
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="invert_output" displayName="Invert output">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="temporary_output_disable" displayName="Temporary Disable Output">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="lockout_output" displayName="Lockout Output">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="pulse_output_on_kiss_off_following_arming" displayName="Pulse Output On Kiss-Off After Arming">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="output_disable_during_disarm" displayName="Disable Output During Disarm">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="disable_during_alarm_report_delay" displayName="Disable Output During Report Delay">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="mute_for_10_sec_on_key_press_if_alarm" displayName="Output Muted 10s On Key-Press If Alarm">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="enable_output_monitoring" displayName="Enable Output Monitoring">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="enable_mute" displayName="Enable Mute">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Type Of Output" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="alt_flags_output_type" displayName="Type Of Output" [converter]="outputTypeConverter" [valuesProvider]="outputTypeNames">
                            <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                    <!--
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Chime Reset Mode" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="alt_flags_chime_reset_mode" displayName="Chime Reset Mode" [converter]="chimeResetModeConverter" [valuesProvider]="chimeResetModeNames">
                            <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                    -->
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Timing" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="output_delay_time" hintText="Output on delay time (sec)" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="output_pulse_time" hintText="Output pulse time (sec)" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="output_reset_time" hintText="Output reset time (sec)" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <Label text="Signals to Output" className="sub-header"></Label>
            <StackLayout>
                <RadDataForm [source]="signals_to_output">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Signals To Output" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="mains_fail_to_output" displayName="Mains Fail To Output">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="fuse_fail_to_output" displayName="Fuse Fail To Output">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="batt_low_to_output" displayName="Batt Low To Output">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="monitor_output_fail_to_output" displayName="Monitor Output Fail To Output">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="output_tamper_alarm_to_output" displayName="Output Tamper Alarm To Output">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="communication_fail_to_output" displayName="Communication Fail To Output">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="radio_zone_supervized_fail_to_output" displayName="Radio Supervized Fail To Output">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="system_tamper_to_output" displayName="System Tamper To Output">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="sensor_watch_to_output" displayName="Sensor-Watch To Output">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="duress_alarm_to_output" displayName="Duress Alarm To Output">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="walk_test_pulse_to_output" displayName="Walk Test Pulse To Output">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <StackLayout>
                <RadDataForm [source]="pendant_panic_alarm_to_output">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Panic Alarm To Output From Pendants" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let userId of keys(pendant_panic_alarm_to_output)" tkPropertyGroupProperties [name]="userId" [displayName]="panelConfigOutput.pendant_panic_alarm_to_output[userId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <StackLayout>
                <RadDataForm [source]="pendant_fire_alarm_to_output">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Fire Alarm To Output From Pendants" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let userId of keys(pendant_fire_alarm_to_output)" tkPropertyGroupProperties [name]="userId" [displayName]="panelConfigOutput.pendant_fire_alarm_to_output[userId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <StackLayout>
                <RadDataForm [source]="pendant_medical_alarm_to_output">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Medical Alarm To Output From Pendants" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let userId of keys(pendant_medical_alarm_to_output)" tkPropertyGroupProperties [name]="userId" [displayName]="panelConfigOutput.pendant_medical_alarm_to_output[userId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <Label text="User Assignment" className="sub-header"></Label>
            <StackLayout>
                <RadDataForm [source]="user_code_turns_output_on">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Turn On Output From Users" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let userId of keys(user_code_turns_output_on)" tkPropertyGroupProperties [name]="userId" [displayName]="panelConfigOutput.user_code_turns_output_on[userId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <StackLayout>
                <RadDataForm [source]="user_code_turns_output_off">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Turn Off Output From Users" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let userId of keys(user_code_turns_output_off)" tkPropertyGroupProperties [name]="userId" [displayName]="panelConfigOutput.user_code_turns_output_off[userId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <Label text="Alarm to output" className="header"></Label>
            <StackLayout>
                <RadDataForm [source]="zone_alarm_assigned_to_output">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Alarm From Zones" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(zone_alarm_assigned_to_output)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigOutput.zone_alarm_assigned_to_output[outputId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <StackLayout>
                <RadDataForm [source]="zone_stay_alarm_assigned_to_output">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Stay Alarm From Zones" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(zone_stay_alarm_assigned_to_output)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigOutput.zone_stay_alarm_assigned_to_output[outputId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <StackLayout>
                <RadDataForm [source]="zone_24_hour_alarm_assigned_to_output">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="24H Alarm From Zones" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(zone_24_hour_alarm_assigned_to_output)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigOutput.zone_24_hour_alarm_assigned_to_output[outputId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <StackLayout>
                <RadDataForm [source]="zone_tamper_assigned_to_output">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Tamper From Zones" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(zone_tamper_assigned_to_output)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigOutput.zone_tamper_assigned_to_output[outputId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <StackLayout>
                <RadDataForm [source]="chime_zone_alarm_assigned_to_output">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Chime Alarm From Zones" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(chime_zone_alarm_assigned_to_output)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigOutput.chime_zone_alarm_assigned_to_output[outputId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <StackLayout>
                <RadDataForm [source]="armed_zone_entry_delay_assigned_to_output">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Entry Delay From Armed Zones" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(armed_zone_entry_delay_assigned_to_output)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigOutput.armed_zone_entry_delay_assigned_to_output[outputId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <StackLayout>
                <RadDataForm [source]="stay_mode_entry_delay_assigned_to_output">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Stay Entry Delay From Zones" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(stay_mode_entry_delay_assigned_to_output)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigOutput.stay_mode_entry_delay_assigned_to_output[outputId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <StackLayout>
                <RadDataForm [source]="zone_near_alarm_assigned_to_output">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Near Alarm From Zones" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(zone_near_alarm_assigned_to_output)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigOutput.zone_near_alarm_assigned_to_output[outputId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <StackLayout>
                <RadDataForm [source]="zone_verified_alarm_assigned_to_output">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Verified Alarm From Zones" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(zone_verified_alarm_assigned_to_output)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigOutput.zone_verified_alarm_assigned_to_output[outputId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
        </StackLayout>
    </GridLayout>
</ScrollView>
<ScrollView verticalAlignment="center" *ngIf="routerService.isLoading">
    <GridLayout rows="auto, *">
        <ActivityIndicator [busy]="routerService.isLoading" row="1"
               horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
    </GridLayout>
</ScrollView>