<ActionBar title="{{title}}">
    <NavigationButton [text]="'COMMON.GO_BACK' | translate" android.systemIcon="ic_menu_back" (tap)="onNavBackBtnTap()"></NavigationButton>
    <ActionItem ios.systemIcon="3" android.systemIcon="ic_menu_save" ios.position="right" (tap)="save()"></ActionItem>
</ActionBar>
<ScrollView [visibility]="!routerService.isLoading ? 'visible' : 'collapse'">
    <GridLayout rows="auto, *">
        <StackLayout row="1">
            <GridLayout tkExampleTitle tkToggleNavButton rows="auto, *">
                <RadDataForm #panelUserMain [source]="panelUser">
                    <TKEntityProperty tkDataFormProperty name="id" hidden="true"></TKEntityProperty>
                    <TKPropertyGroup tkDataFormGroups collapsible="true" [name]="'USER.USER_MAIN' | translate" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_user" [hintText]="'USER.USER_MAIN' | translate" tkPropertyGroupProperties name="user_name" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_key" [hintText]="'USER.CODE' | translate" tkPropertyGroupProperties name="user_code" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                    <TKPropertyGroup tkDataFormGroups collapsible="true" [name]="'USER.USER_OPTIONS' | translate" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_lock" tkPropertyGroupProperties name="user_code_can_arm" [displayName]="'USER.CAN_ARM' | translate">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_home" tkPropertyGroupProperties name="user_code_can_arm_stay" [displayName]="'USER.CAN_ARM_STAY' | translate">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_unlock" tkPropertyGroupProperties name="user_code_can_disarm" [displayName]="'USER.CAN_DISARM' | translate">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="user_code_can_disarm_stay" [displayName]="'USER.CAN_DISARM_STAY' | translate">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="security_guard_user" [displayName]="'USER.IS_A_SECURITY_GUARD_USER' | translate">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="latchkey_mode_user" [displayName]="'USER.IN_LATCHKEY_MODE' | translate">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                    <TKPropertyGroup tkDataFormGroups collapsible="true" [name]="'USER.USER_TYPE' | translate" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="pendant_user" [displayName]="'USER.IS_PENDANT_USER' | translate">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="remote_control_user" [displayName]="'USER.CAN_USE_REMOTE_CONTROL' | translate">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Permissions" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="user_can_view_memory" [displayName]="'USER.CAN_VIEW_MEMORY_AND_STATUS' | translate">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="user_can_change_his_code" [displayName]="'USER.CAN_CHANGE_HIS_CODE_AND_NAME' | translate">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="user_can_change_all_codes" [displayName]="'USER.CAN_CHANGE_ALL_CODES_AND_NAMES' | translate">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="user_can_change_phone_or_address" [displayName]="'USER.CAN_CHANGE_PHONE_OR_ADDRESS' | translate">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="user_can_change_the_clock" [displayName]="'USER.CAN_CHANGE_THE_CLOCK' | translate">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="user_can_learn_radio_devices" [displayName]="'USER.CAN_LEARN_RADIO_DEVICES' | translate">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </GridLayout>
            <StackLayout>
                <RadDataForm [source]="user_assigned_to_area">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" [name]="'USER.AREA_ASSIGNMENT' | translate" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let areaId of keys(user_assigned_to_area)" tkPropertyGroupProperties [name]="areaId" [displayName]="panelConfigUser.user_assigned_to_area[areaId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <StackLayout>
                <RadDataForm [source]="user_code_turns_output_on">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" [name]="'USER.USER_СODE_TURNS_ON_OUTPUTS' | translate" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKDataFormGridLayout tkPropertyGroupLayout></TKDataFormGridLayout>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(user_code_turns_output_on)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigUser.user_code_turns_output_on[outputId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <StackLayout>
                <RadDataForm [source]="user_code_turns_output_off">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" [name]="'USER.USER_СODE_TURNS_OFF_OUTPUTS' | translate" name="User Сode Turns OFF Outputs" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKDataFormGridLayout tkPropertyGroupLayout></TKDataFormGridLayout>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(user_code_turns_output_off)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigUser.user_code_turns_output_off[outputId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <StackLayout>
                <RadDataForm [source]="pendantUserProperties" #pendantUserPropertiesForm commitMode="OnLostFocus">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" [name]="'USER.PENDANT_USER' | translate" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKDataFormGridLayout tkPropertyGroupLayout></TKDataFormGridLayout>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" index="0" tkPropertyGroupProperties name="radio_pendants_list" [hintText]="'USER.INPUT_USER_PENDANT_CODE' | translate" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty index="1" tkPropertyGroupProperties name="buttonBarcode" displayName="">
                            <TKCustomPropertyEditor tkEntityPropertyEditor (editorNeedsView)="editorNeedsView($event)" (editorHasToApplyValue)="editorHasToApplyValue($event)"
                                (editorNeedsValue)="editorNeedsValue($event)"></TKCustomPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" index="2" tkPropertyGroupProperties name="pendant_can_disarm_during_alarm_only" [displayName]="'USER.CAN_DISARM_AT_ALARM_ONLY' | translate">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" index="3" tkPropertyGroupProperties name="pendant_can_disarm_during_entry_delay_only_" [displayName]="'USER.CAN_DISARM_AT_ENTRY_DELAY_ONLY' | translate">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <StackLayout>
                <RadDataForm [source]="pendant_panic_alarm_to_output">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Pendant Panic Alarm To Outputs" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKDataFormGridLayout tkPropertyGroupLayout></TKDataFormGridLayout>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(pendant_panic_alarm_to_output)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigUser.pendant_panic_alarm_to_output[outputId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <StackLayout>
                <RadDataForm [source]="pendant_fire_alarm_to_output">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Pendant Fire Alarm To Outputs" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKDataFormGridLayout tkPropertyGroupLayout></TKDataFormGridLayout>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(pendant_fire_alarm_to_output)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigUser.pendant_fire_alarm_to_output[outputId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
            <StackLayout>
                <RadDataForm [source]="pendant_medical_alarm_to_output">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Pendant Medical Alarm To Outputs" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKDataFormGridLayout tkPropertyGroupLayout></TKDataFormGridLayout>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let outputId of keys(pendant_medical_alarm_to_output)" tkPropertyGroupProperties [name]="outputId" [displayName]="panelConfigUser.pendant_medical_alarm_to_output[outputId]['name']">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </StackLayout>
        </StackLayout>
    </GridLayout>
</ScrollView>
<ScrollView verticalAlignment="center" *ngIf="routerService.isLoading">
    <GridLayout rows="auto, *">
        <ActivityIndicator [busy]="routerService.isLoading" row="1"
               horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
    </GridLayout>
</ScrollView>