<ActionBar title="{{title}}">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBackBtnTap()"></NavigationButton>
    <ActionItem ios.systemIcon="3" android.systemIcon="ic_menu_save" ios.position="right" (tap)="save()"></ActionItem>
</ActionBar>
<ScrollView *ngIf="!routerService.isLoading">
    <GridLayout rows="auto, *">
        <StackLayout row="1">
            <GridLayout tkExampleTitle tkToggleNavButton rows="auto, *">
                <RadDataForm [source]="communicationDataForm">
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Remote Access" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="remote_access_password" hintText="Remote Access Password" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="remote_access_server_address" hintText="Remote Access Server Address" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="remote_access_server_port" hintText="Remote Access Server Port" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="server_registration_time" hintText="Server Registration Time (min)" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="TCP/IP" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="Ethernet_Enabled" displayName="Ethernet Enabled">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="DHCP_Enabled" displayName="DHCP Enabled">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="dns_server" hintText="DNS Server" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="tcp_remote_port" hintText="TCP Remote Control Port" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Number">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="static_ip" hintText="Static IP" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="subnet_mask" hintText="Subnet Mask" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="gateway" hintText="Gateway" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="GSM" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="GSM_IP_Enabled" displayName="GSM IP Enabled">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="GSM_CID_Enabled" displayName="GSM SMS Enabled">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="gsm_apn" hintText="GSM APN" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="ussd" hintText="USSD" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="pin_code" hintText="PIN Code" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="gsm_user" hintText="GSM User" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="gsm_password" hintText="GSM Password" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Phone Numbers For Remote Control" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let numberId of keys(configCommunication.control_phone_numbers);" tkPropertyGroupProperties [name]="'control_phone_numbers_'  + numberId" [hintText]="'Remote Control Phone #' + incrementString(numberId)" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="Wi-Fi" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty tkPropertyGroupProperties name="WiFi_Enabled" displayName="Wi-Fi Enabled (comm 1-3)">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <StackLayout *ngFor="let id of keys(configCommunication.wifi_ssid);">
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties [name]="'wifi_ssid_' + id" [displayName]="'SSID #' + incrementString(id)">
                                <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties [name]="'wifi_security_type_' + id" [displayName]="'Security Type #' + incrementString(id)" [converter]="securityTypeConverter" [valuesProvider]="securityTypeNames">
                                <TKPropertyEditor tkEntityPropertyEditor type="Picker">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                            <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties [name]="'wifi_ssid_password_' + id" [displayName]="'Password #' + incrementString(id)">
                                <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                    <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                                </TKPropertyEditor>
                            </TKEntityProperty>
                        </StackLayout>
                    </TKPropertyGroup>
                    <TKPropertyGroup tkDataFormGroups collapsible="true" name="DECT" collapsed="true">
                        <TKGroupTitleStyle tkPropertyGroupTitleStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKGroupTitleStyle>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="DECT_Enabled" displayName="DECT enabled">
                            <TKPropertyEditor tkEntityPropertyEditor type="Switch">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize" labelFontStyle="Bold"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" *ngFor="let numberId of keys(configCommunication.dect_contact_number);" tkPropertyGroupProperties [name]="'dect_contact_number_'  + numberId" [hintText]="'DECT contact number #' + incrementString(numberId)" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                        <TKEntityProperty imageResource="res://ic_dataform_cogs" tkPropertyGroupProperties name="dect_pin_code" hintText="DECT PIN code" displayName="">
                            <TKPropertyEditor tkEntityPropertyEditor type="Text">
                                <TKPropertyEditorStyle tkPropertyEditorStyle [labelTextSize]="labelTextSize"></TKPropertyEditorStyle>
                            </TKPropertyEditor>
                        </TKEntityProperty>
                    </TKPropertyGroup>
                </RadDataForm>
            </GridLayout>
            <StackLayout>
                <Button class="btn btn-primary btn-active" [isEnabled]="!pairingDect" [text]="pairingButtonText" (tap)="learnDectDevice()"></Button>
                <Label [visibility]="pairingDect ? 'visible' : 'collapse'" [text]="pairingInfo" horizontalAlignment="center" verticalAlignment="center"></Label>
                <ActivityIndicator [busy]="pairingDect" [visibility]="pairingDect ? 'visible' : 'collapse'" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
                <Button class="btn btn-primary btn-active" text="Delete DECT HAN Device" (tap)="deleteDectHanDevice()"></Button>
                <Button class="btn btn-primary btn-active" text="Delete DECT HS Device" (tap)="deleteDectHsDevice()"></Button>
            </StackLayout>
        </StackLayout>
    </GridLayout>
</ScrollView>
<ScrollView verticalAlignment="center" *ngIf="routerService.isLoading">
    <GridLayout rows="auto, *">
        <ActivityIndicator [busy]="routerService.isLoading" row="1"
               horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
    </GridLayout>
</ScrollView>