<ActionBar [title]="getTitle()">
    <NavigationButton [text]="'COMMON.GO_BACK' | translate" android.systemIcon="ic_menu_back" (tap)="onNavBackBtnTap()"></NavigationButton>
	<ActionItem *ngIf="selectedTabIndex == 5" ios.systemIcon="3" android.systemIcon="ic_menu_save" ios.position="right" (tap)="saveCommunication()"></ActionItem>
	<ActionItem *ngIf="selectedTabIndex == 6" ios.systemIcon="3" android.systemIcon="ic_menu_save" ios.position="right" (tap)="saveMiscellaneous()"></ActionItem>
</ActionBar>
<GridLayout rows="auto, *">
    <ListView [items]="components" row="1" [visibility]="!routerService.isLoading ? 'visible' : 'collapse'">
        <ng-template let-item="item">
			<Label [text]="item.name" class="list-item" (tap)="navigateTo(item.id)"></Label>
        </ng-template>
    </ListView>
    <ActivityIndicator [busy]="routerService.isLoading" [visibility]="routerService.isLoading ? 'visible' : 'collapse'" row="1"
                       horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
</GridLayout>
<!--
<GridLayout rows="auto, *">
	<Label row="0" text="Users" class="list-item" (tap)="navigateTo('users')"></Label>
	<Label text="Areas" class="list-item" (tap)="navigateTo('areas')"></Label>
	<Label text="Zones" class="list-item" (tap)="navigateTo('zones')"></Label>
	<Label text="Outputs" class="list-item" (tap)="navigateTo('outputs')"></Label>

	<TabView row="1" [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onIndexChanged($event)"
			 [visibility]="!routerService.isLoading ? 'visible' : 'collapse'" sdkExampleTitle sdkToggleNavButton>
		<StackLayout *tabItem="{title: 'PANEL_DETAIL.TABS.USERS' | translate}" >
			<panel-users></panel-users>
		</StackLayout>
		<StackLayout *tabItem="{title: 'PANEL_DETAIL.TABS.AREAS' | translate}" >
			<panel-areas></panel-areas>
		</StackLayout>
		<StackLayout *tabItem="{title: 'PANEL_DETAIL.TABS.ZONES' | translate}" >
			<panel-zones></panel-zones>
		</StackLayout>
		<StackLayout *tabItem="{title: 'PANEL_DETAIL.TABS.OUTPUTS' | translate}" >
			<panel-outputs></panel-outputs>
		</StackLayout>
		<StackLayout *tabItem="{title: 'PANEL_DETAIL.TABS.REPORT_CHANNELS' | translate}" >
			<report-channels></report-channels>
		</StackLayout>
		<StackLayout *tabItem="{title: 'PANEL_DETAIL.TABS.COMMUNICATION' | translate}" >
			<communication #communication></communication>
		</StackLayout>
		<StackLayout *tabItem="{title: 'PANEL_DETAIL.TABS.MISCELLANEOUS' | translate}" >
			<miscellaneous #miscellaneous></miscellaneous>
		</StackLayout>
		<StackLayout *tabItem="{title: 'PANEL_DETAIL.TABS.DIAGNOSTIC' | translate}" >
			<diagnostic></diagnostic>
		</StackLayout>
	</TabView>

</GridLayout>
-->