<StackLayout class="installer-code-wrapper" verticalAlignment="middle">
    <Label class="label" [text]="'INSTALLER_CODE.TITLE' | translate" textWrap="true"></Label>
    <TextField #codeField [(ngModel)]="installerCode" class="input input-border" keyboardType="number" returnKeyType="send"></TextField>
    <Button class="btn btn-primary btn-active" [text]="'INSTALLER_CODE.SUBMIT' | translate" (tap)="submit()"></Button>
</StackLayout>
