<ScrollView horizontalAlignment="center" verticalAlignment="center">
    <GridLayout>
        <StackLayout verticalAlignment="middle" row="1" [visibility]="!routerService.isLoading ? 'visible' : 'collapse'">
            <!--
            <Label [text]="'LOGIN.TEXT' | translate"></Label>
            <ListPicker [items]="langs" selectedIndex="0" (selectedIndexChange)="changeLanguage($event)"></ListPicker>
            -->
            <Image #logoCrow src="res://logo_crow_black" stretch="none" horizontalAlignment="center"></Image>
            <TextField [isEnabled]="!routerService.isLoading" [hint]="'LOGIN.EMAIL_ADDRESS' | translate" keyboardType="email" [(ngModel)]="user.email"
                       autocorrect="false" autocapitalizationType="none"></TextField>
            <TextField [isEnabled]="!routerService.isLoading" [hint]="'LOGIN.PASSWORD' | translate" secure="true" [(ngModel)]="user.password"></TextField>
            <Button [text]="'LOGIN.SIGN_IN' | translate" [isEnabled]="!routerService.isLoading" class="submit-button" (tap)="loginUser()"></Button>
            <Button text="Sign in with fingerprint" *ngIf="!routerService.isLoading && fingerPrintAvailable && isEmailInLocalStorage"
                    class="submit-button" (tap)="doVerifyFingerprintWithCustomFallback()"></Button>
        </StackLayout>
        <ActivityIndicator [busy]="routerService.isLoading" [visibility]="routerService.isLoading ? 'visible' : 'collapse'" row="1"
                           horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
    </GridLayout>
</ScrollView>