StackLayout {
  margin-left: 30;
  margin-right: 30;
  background-color: white;
}
Image {
  margin-top: 20;
  margin-bottom: 20;
}
Button, TextField {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
}
.submit-button {
  background-color: #CB1D00;
  color: white;
  margin-top: 20;
}