<ActionBar title="{{title}}">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBackBtnTap()"></NavigationButton>
</ActionBar>
<GridLayout rows="auto, *">
    <ListView [items]="zones" row="1" [visibility]="!routerService.isLoading ? 'visible' : 'collapse'">
        <ng-template let-item="item">
            <Label [text]="item.zone_name" class="list-item" (tap)="editZone(item.id)"></Label>
        </ng-template>
    </ListView>
    <Button row="1" *ngIf="showAddZoneButton()" class="fab-button-simple" (tap)="editZone(-1)"></Button>
    <ActivityIndicator [busy]="routerService.isLoading" [visibility]="routerService.isLoading ? 'visible' : 'collapse'" row="1"
           horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>
</GridLayout>